<section class="main body-font flex items-center justify-center text-black">
	<div class="mx-auto flex w-full flex-col items-center justify-between sm:px-28 sm:py-14 p-4 md:flex-row">
		<div class="mb-16 flex flex-col md:mb-0 lg:flex-grow">
			<h1 class="title-font mb-4 font-bold tracking-wide  text-white sm:text-3xl md:text-3xl">
				{{ header_title }}
			</h1>
			<p
				class="md:text-md lg:text-md mb-6 max-w-2xl font-light text-gray-200 dark:text-gray-400 lg:mb-8"
			>
				{{ header_description }}
			</p>
			<div class="">
				{{ if link_field}}
				<a
				
					href="/{{ link_field }}"
					class="shadow-glass hover:to-bluw-500 relative flex w-fit items-center gap-2 rounded-full bg-gradient-to-r from-green-300 to-green-500 px-5 py-3 text-[16px] font-medium capitalize text-white transition duration-300 hover:scale-105 hover:from-green-500 md:px-8 md:py-4"
				>
					{{ link_field }}
					<span
						class="from-orange -400 absolute right-0 top-0 h-3 w-3 animate-ping rounded-full bg-gradient-to-r to-green-700"
					></span>
				</a>
				{{ /if}}
			</div>
		</div>

		<div class="flex h-96 items-center justify-center">
			<img
				class="h-full rounded-md object-cover"
				src="{{ primary_image }}"
				alt="apple watch"
			/>
		</div>
	</div>
</section>



{{ partial:aboutus/index}}

{{ partial:aboutus/what-people-are-saying}}



<style>
	.main {
		background: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.61)),
			url('{{ background_image }}');
		background-size: cover;
	}
</style>
