<div class="relative w-full">
	<div
		class="mainHero relative flex w-full flex-col sm:flex-row items-center justify-between bg-cover sm:px-28 sm:py-10"
	>
		<div class="">
			<div class="flex h-fit flex-wrap items-center justify-center gap-10 px-2 md:px-0">
				<div class="relative flex flex-col items-center justify-center xl:py-32">
					<h1 class="text-center sm:text-3xl text-lg font-bold text-white md:text-3xl">
						{{ header_title }}
					</h1>
					<form action="" class="mt-12 w-full p-4">
						<div
							class="relative flex rounded-full border border-green-200 bg-white p-1 shadow-md md:p-2"
						>
							<input placeholder="Keyword" class="w-full rounded-full sm:p-4 p-2" type="text" />
							<button
								type="button"
								title="Start buying"
								class="ml-2 rounded-full bg-gradient-to-b from-green-200 to-green-300 px-6 py-3 text-center transition hover:to-red-500 focus:from-red-600 active:from-green-400 md:px-12"
							>
								<span class="hidden font-semibold text-green-900 md:block"> Search </span>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="mx-auto w-5 text-green-900 md:hidden"
									fill="currentColor"
									viewBox="0 0 16 16"
								>
									<path
										d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
									/>
								</svg>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="h-96 hidden sm:block">
			<img
				class="h-full rounded-md"
				src="{{primary_image}}"
				alt="apple watch"
			/>
		</div>
	</div>

    <section class="flex items-center justify-center sm:py-10">
        <section class="sm:px-36 text-center">
            <h2 class="sm:text-2xl text-lg font-bold">CDC members' resources library</h2>
            <p class="sm:pt-5 pt-2 text-sm sm:text-lg">
                Log in as a member to access our extensive library of CPD resources. With hundreds of
                recorded webinars, documents, and more, the CDC offers one of the most comprehensive
                libraries of career development resources.
            </p>
        </section>
    </section>


    {{ partial:resources-and-tools/digital_resources}}

    {{ partial:resources-and-tools/part_section}}

    {{ partial:resources-and-tools/part_section}}

    {{ partial:resources-and-tools/tools}}

    {{ partial:resources-and-tools/advance}}
    
</div>

<style>
	.mainHero {
		background-image: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.61)),
			url('{{ background_image }}');
	}
</style>

