<div class="relative w-full">
	<div
		class="mainHero relative flex w-full flex-row items-center justify-between bg-cover px-28 py-10"
	>
		<div class="">
			<div class="flex h-fit flex-wrap items-center justify-center gap-10 px-2 md:px-0">
				<div class="relative flex flex-col items-center justify-center xl:py-32">
					<h1 class="text-center text-3xl font-bold text-white md:text-3xl">
						{{ header_title }}
					</h1>
					<form action="" class="mt-12 w-full">
						<div
							class="relative flex rounded-full border border-green-200 bg-white p-1 shadow-md md:p-2"
						>
							<input placeholder="Keyword" class="w-full rounded-full p-4" type="text" />
							<button
								type="button"
								title="Start buying"
								class="ml-2 rounded-full bg-gradient-to-b from-green-200 to-green-300 px-6 py-3 text-center transition hover:to-red-500 focus:from-red-600 active:from-green-400 md:px-12"
							>
								<span class="hidden font-semibold text-green-900 md:block"> Search </span>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="mx-auto w-5 text-green-900 md:hidden"
									fill="currentColor"
									viewBox="0 0 16 16"
								>
									<path
										d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
									/>
								</svg>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="h-96">
			<img
				class="h-full rounded-md"
				src="{{primary_image}}"
				alt="apple watch"
			/>
		</div>
	</div>

    <section class="flex items-center justify-center py-10">
        <section class="px-36 text-center">
            <h2 class="text-2xl font-bold">CDC members' resources library</h2>
            <p class="pt-5">
                Log in as a member to access our extensive library of CPD resources. With hundreds of
                recorded webinars, documents, and more, the CDC offers one of the most comprehensive
                libraries of career development resources.
            </p>
        </section>
    </section>

    <div class="mainHero flex items-center justify-center gap-16 px-8 py-10">
        <div class="flex flex-col items-center justify-center gap-10 px-28">
            <section class="flex flex-col items-center justify-center">
                <h2 class="text-2xl font-bold">Digital resources</h2>
                <p class="text-center">
                    Below you will find easy access to a range of digital tools and resources offered by the CDC
                    and organizations supporting career development. With the increasing dependence on and
                    capability of digital services, building and maintaining digital skills is an important part
                    of working as a career professional.
                </p>
            </section>
            <section class="flex flex-row flex-wrap items-center justify-center gap-9">
                <div
                    class="group relative h-64 w-[30em] overflow-hidden rounded-lg bg-cover bg-center p-5 text-white shadow-lg transition duration-300 ease-in-out hover:shadow-2xl"
                    style="background-image: url('https://images.unsplash.com/photo-1623479322729-28b25c16b011?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80');"
                >
                    <span class="rounded-md bg-slate-100 p-1 text-[0.7rem] text-black">CASE STUDY</span>
                    <h2 class="py-8 text-[1.7rem]">Understanding the Mobile Delivery Gap.</h2>
                    <a href="#!" class="rounded-full bg-white px-5 py-2 text-black">Read More</a>
                </div>
    
                <div
                    class="group relative h-64 w-[30em] overflow-hidden rounded-lg bg-cover bg-center p-5 text-white shadow-lg transition duration-300 ease-in-out hover:shadow-2xl"
                    style="background-image: url('https://images.unsplash.com/photo-1623479322729-28b25c16b011?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80');"
                >
                    <span class="rounded-md bg-slate-100 p-1 text-[0.7rem] text-black">CASE STUDY</span>
                    <h2 class="py-8 text-[1.7rem]">Understanding the Mobile Delivery Gap.</h2>
                    <a href="#!" class="rounded-full bg-white px-5 py-2 text-black">Read More</a>
                </div>
    
                <div
                    class="group relative h-64 w-[30em] overflow-hidden rounded-lg bg-cover bg-center p-5 text-white shadow-lg transition duration-300 ease-in-out hover:shadow-2xl"
                    style="background-image: url('https://images.unsplash.com/photo-1623479322729-28b25c16b011?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80');"
                >
                    <span class="rounded-md bg-slate-100 p-1 text-[0.7rem] text-black">CASE STUDY</span>
                    <h2 class="py-8 text-[1.7rem]">Understanding the Mobile Delivery Gap.</h2>
                    <a href="#!" class="rounded-full bg-white px-5 py-2 text-black">Read More</a>
                </div>
                <div
                    class="group relative h-64 w-[30em] overflow-hidden rounded-lg bg-cover bg-center p-5 text-white shadow-lg transition duration-300 ease-in-out hover:shadow-2xl"
                    style="background-image: url('https://images.unsplash.com/photo-1623479322729-28b25c16b011?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80');"
                >
                    <span class="rounded-md bg-slate-100 p-1 text-[0.7rem] text-black">CASE STUDY</span>
                    <h2 class="py-8 text-[1.7rem]">Understanding the Mobile Delivery Gap.</h2>
                    <a href="#!" class="rounded-full bg-white px-5 py-2 text-black">Read More</a>
                </div>
            </section>
        </div>
    </div>

    <div class="flex items-center justify-center">
        <div class="flex items-center justify-center gap-5 rounded-md bg-gradient-to-t px-28 py-10">
            <section class="whoweare-t flex h-[20rem] w-1/2 items-center justify-center">
                <img src="https://images.pexels.com/photos/753994/pexels-photo-753994.jpeg" alt="CDC LOGO" />
            </section>
            <section class="w-1/2">
                <h2 class="text-2xl font-bold">Digital Confidence Assessment</h2>
                <div class="flex flex-col gap-10 pt-10">
                    <div>
                        <p>
                            CDC members can use this free tool to assess their digital confidence in various
                            workplace scenarios. It is a valuable aid to identifying digital skills you may wish to
                            develop and links to useful digital resources to address any skills gaps.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>


    <div class="flex items-center justify-center">
        <div class="flex items-center justify-center gap-5 rounded-md px-28 py-10">
            <section class="w-1/2">
                <h2 class="text-2xl font-bold">Career software and digital tools</h2>
                <div class="flex flex-col gap-10 pt-10">
                    <div>
                        <p>
                            View this list of software and digital tools that can help with career development
                            practice. From career education and management platforms to online diagnosis tools, you
                            can find a range of digital support here.
                        </p>
                    </div>
                </div>
            </section>
            <section class="whoweare-t flex h-[20rem] w-1/2 items-center justify-center">
                <img src="https://images.pexels.com/photos/753994/pexels-photo-753994.jpeg" alt="CDC LOGO" />
            </section>
        </div>
    </div>
    
</div>

<style>
	.mainHero {
		background-image: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.61)),
			url('{{ background_image }}');
	}

    .whoweare-t {
		background-image: url('https://images.pexels.com/photos/753994/pexels-photo-753994.jpeg');
		background-size: cover;
	}
</style>

