<div class="accordion w-full max-w-7xl mt-7 mx-auto flex flex-col gap-1">
    <div class="flex w-full items-center justify-center">
        <h4
            class="mt-2 w-fit border-b-2 border-green-500 px-3 pb-2 text-center text-2xl font-bold sm:text-2xl sm:leading-9">
            What We Expect
        </h4>
    </div>
    {{ collection:faqs taxonomy:faqs="wee"}}
    <div class="accordion-item border-b">
        <h2 class="accordion-header ">
            <label for="section-what-we-expect-{{ index }}"
                class="accordion-button flex items-center justify-between w-full p-4 text-lg font-semibold text-gray-700 bg-gray-100  rounded-md cursor-pointer">
                {{title}}
                <svg class="w-5 h-5 transform transition-transform duration-200 rotate-0 group-open:rotate-180"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7">
                    </path>
                </svg>
            </label>
        </h2>
        <input type="checkbox" id="section-what-we-expect-{{ index }}" class="hidden peer" />
        <div
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 ease-in-out peer-checked:max-h-40">
            <p class="p-4 text-gray-600">{{ content}}</p>
        </div>
    </div>
    {{ /collection:faqs}}
</div>



<div class="accordion w-full max-w-7xl mx-auto flex flex-col gap-1 mt-16">
    <div class="flex items-center justify-center">
        <h4
            class="mt-2 w-fit border-b-2 border-green-500 px-3 pb-2 text-center text-2xl font-bold sm:text-2xl sm:leading-9">
            What We Want in Return
        </h4>
    </div>
    {{ collection:faqs taxonomy:faqs="wwwir"}}
    <div class="accordion-item border-b">
        <h2 class="accordion-header ">
            <label for="section-what-we-want-from-you-{{ index }}"
                class="accordion-button flex items-center justify-between w-full p-4 text-lg font-semibold text-gray-700 bg-gray-100  rounded-md cursor-pointer">
                {{title}}
                <svg class="w-5 h-5 transform transition-transform duration-200 rotate-0 group-open:rotate-180"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7">
                    </path>
                </svg>
            </label>
        </h2>
        <input type="checkbox" id="section-what-we-want-from-you-{{ index }}" class="hidden peer" />
        <div
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 ease-in-out peer-checked:max-h-40">
            <p class="p-4 text-gray-600">{{ content}}</p>
        </div>
    </div>
    {{ /collection:faqs}}
</div>


<section class="flex justify-center text-center my-16">
    <h2 class="max-w-2xl rounded-lg border-2 border-green-500 p-3 text-xl">
        Remember, your performance mirrors our dedication. Let us learn, grow, and succeed
        together! 🌟🚀
    </h2>
</section>