<!-- component -->
<section
	class="body-font flex items-start justify-center gap-5 rounded-md bg-gradient-to-t from-[#6accaf] p-5 py-16 text-gray-700"
>
	<div class="jobcard mx-auto flex flex-col items-center px-28 md:flex-row">
		<div
			class="mb-16 flex flex-col items-center md:mb-0 md:w-full md:items-start lg:flex-grow lg:pr-24"
		>
			<figure class="visible">
				<div class="">
					<div class="px-2 pt-10 sm:px-6">
						<h1 class="mb-4 text-2xl font-bold sm:text-2xl">
							Find a Registered
							<br class="hidden lg:inline-block" />Career Development Professional
						</h1>
						<p class="pb-6 text-base text-gray-700">
							If you are a young person or an adult looking for career guidance/coaching, or an
							employer looking to contract with a career development professional to provide these
							services in your school/college, a community, or a company setting, please use the
							search criteria to find a Registered Career Development Professional.
						</p>
						<p class="pb-8 text-base text-gray-700">
							By using a Registered Career Development Professional who will be able to show/display
							a current CDC-dated logo, you are guaranteed that the services provided are delivered
							by a professional who is qualified to at least graduate.
						</p>
					</div>
				</div>
			</figure>
		</div>
		<div class="hidden w-5/6 sm:block md:w-1/2 lg:w-full lg:max-w-lg">
			<img
				class="rounded object-cover object-center"
				alt="hero"
				src="https://images.pexels.com/photos/814544/pexels-photo-814544.jpeg"
			/>
		</div>
	</div>
</section>
