<div class="mx-auto max-w-7xl">
    <h1 class="text-center sm:text-2xl text-lg">List of events</h1>
    <div class="grid grid-cols-1 sm:grid-cols-3">
        {{ collection:events}}
        <div class="p-2">
            <img src="{{image}}" alt="" class="h-72 w-auto rounded-md">
            <h2> {{ title }}</h2>
            <p>{{ content }} </p>
            <div class="my-4">
                <a class="px-8 py-2 bg-emerald-400" href="{{ url }}">Read</a>
            </div>
        </div>
        {{ /collection:events}}
    </div>
</div>