<div
	class="flex flex-col sm:flex-row items-start justify-center gap-2 sm:gap-5 rounded-md bg-gradient-to-t from-[#6accaf] sm:px-28 sm:py-20 p-4"
>
	<section class="whoweare-t flex h-[20rem] sm:w-1/2 w-full items-center justify-center">
		<img src="/images/logo.png" alt="CDC LOGO" />
	</section>
	<section class="sm:w-1/2 w-full">
		<h2 class="sm:text-2xl text-lg font-bold">Resources To Advance The Profession.</h2>
		<div class="flex flex-col gap-4 sm:gap-10 pt-10">
			<div>
				<p>
					CDC resources help individuals, practitioners, researchers, and policymakers advance the
					profession's work. We also curate quality resources internationally, so they can easily be
					accessed and used to inform and inspire.
				</p>
				<p class="pt-2">
					Many of our resources are openly available here, with a significant additional library
					only available to CDC members in the member's area.
				</p>
			</div>
			<a
				href="/case-studies"
				class="shadow-glass hover:to-bluw-500 relative flex w-fit items-center gap-2 rounded-full bg-gradient-to-r from-green-300 to-green-500 px-5 py-3 text-[16px] font-medium capitalize text-white transition duration-300 hover:scale-105 hover:from-green-500 md:px-8 md:py-4"
				>Explore our case studies.
				<span
					class="from-orange -400 absolute right-0 top-0 h-3 w-3 animate-ping rounded-full bg-gradient-to-r to-green-700"
				></span>
			</a>
		</div>
	</section>
</div>

<style>
	.whoweare-t {
		background-size: cover;
	}
</style>
