<div class="flex flex-col items-center justify-center gap-2 sm:gap-10 sm:px-28 my-8">
    <section class="flex flex-col items-center justify-center">
        <h2 class="sm:text-2xl text-lg font-bold">Digital resources</h2>
        <p class="text-center">
            Below you will find easy access to a range of digital tools and resources offered by the CDC
            and organizations supporting career development. With the increasing dependence on and
            capability of digital services, building and maintaining digital skills is an important part
            of working as a career professional.
        </p>
    </section>
    <section
        class="flex sm:flex-row flex-col sm:flex-wrap  w-[80%] sm:w-full mx-auto items-center justify-center sm:gap-9 gap-3">
        <div class="group relative h-64 w-full sm:w-[30em] overflow-hidden rounded-lg bg-cover bg-center sm:p-5 text-white shadow-lg transition duration-300 ease-in-out hover:shadow-2xl"
            style="background-image: url('https://images.unsplash.com/photo-1623479322729-28b25c16b011?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80');">
            <span class="rounded-md bg-slate-100 p-1 text-[0.7rem] text-black">CASE STUDY</span>
            <h2 class="py-8 text-[1.7rem]">Understanding the Mobile Delivery Gap.</h2>
            <a href="#!" class="rounded-full bg-white px-5 py-2 text-black">Read More</a>
        </div>

        <div class="group relative h-64 w-full sm:w-[30em] overflow-hidden rounded-lg bg-cover bg-center sm:p-5 text-white shadow-lg transition duration-300 ease-in-out hover:shadow-2xl"
            style="background-image: url('https://images.unsplash.com/photo-1623479322729-28b25c16b011?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80');">
            <span class="rounded-md bg-slate-100 p-1 text-[0.7rem] text-black">CASE STUDY</span>
            <h2 class="py-8 text-[1.7rem]">Understanding the Mobile Delivery Gap.</h2>
            <a href="#!" class="rounded-full bg-white px-5 py-2 text-black">Read More</a>
        </div>

        <div class="group relative h-64 w-full sm:w-[30em] overflow-hidden rounded-lg bg-cover bg-center sm:p-5 text-white shadow-lg transition duration-300 ease-in-out hover:shadow-2xl"
            style="background-image: url('https://images.unsplash.com/photo-1623479322729-28b25c16b011?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80');">
            <span class="rounded-md bg-slate-100 p-1 text-[0.7rem] text-black">CASE STUDY</span>
            <h2 class="py-8 text-[1.7rem]">Understanding the Mobile Delivery Gap.</h2>
            <a href="#!" class="rounded-full bg-white px-5 py-2 text-black">Read More</a>
        </div>




    </section>
</div>
</div>