<div class="flex items-center justify-center">
	<div class="flex flex-col p-3 sm:flex-row items-center justify-center sm:gap-5 rounded-md bg-gradient-to-t sm:px-28 sm:py-10">
		<section class="whoweare-t flex h-[20rem] sm:w-1/2 w-full items-center justify-center">
			<img src="/images/logo.png" alt="CDC LOGO" />
		</section>
		<section class="w-full sm:w-1/2">
			<h2 class="sm:text-2xl text-lg font-bold">Digital Confidence Assessment</h2>
			<div class="flex flex-col sm:gap-10 pt-10">
				<div>
					<p>
						CDC members can use this free tool to assess their digital confidence in various
						workplace scenarios. It is a valuable aid to identifying digital skills you may wish to
						develop and links to useful digital resources to address any skills gaps.
					</p>
				</div>
			</div>
		</section>
	</div>
</div>

<style>
	.whoweare-t {
		background-image: url('https://images.pexels.com/photos/753994/pexels-photo-753994.jpeg');
		background-size: cover;
	}
</style>