{{ collection:resources_and_tools_part_section}}

{{ if index / 2 == 0}}
<div class="flex items-center justify-center my-14">
			<div class="flex flex-col p-3 sm:flex-row items-center justify-center sm:gap-5 rounded-md bg-gradient-to-t sm:px-28 sm:py-10">
				<section class="whoweare-t flex h-[20rem] sm:w-1/2 w-full items-center justify-center">
					<img src="{{ image }}" alt="CDC LOGO" class="max-h-96" />
				</section>
				<section class="w-full sm:w-1/2">
					<h2 class="sm:text-2xl text-lg font-bold">{{ title }}</h2>
					<div class="flex flex-col sm:gap-10 pt-10">
						<div>
							<p>
								{{ content }}
							</p>
						</div>
					</div>
				</section>
			</div>

</div>
{{ else }}

<div class="flex items-center justify-center my-14">
	<div class="flex flex-col p-3 sm:flex-row items-center justify-center sm:gap-5 rounded-md bg-gradient-to-t sm:px-28 sm:py-10">
		
		<section class="w-full sm:w-1/2">
			<h2 class="sm:text-2xl text-lg font-bold">{{ title }}</h2>
			<div class="flex flex-col sm:gap-10 pt-10">
				<div>
					<p>
						{{ content }}
					</p>
				</div>
			</div>
		</section>
		<section class="whoweare-t flex h-[20rem] sm:w-1/2 w-full items-center justify-center">
			<img src="{{ image }}" alt="CDC LOGO" class="max-h-96" />
		</section>
	</div>



{{ /if }}
{{ /collection:resources_and_tools_part_section}}

