<div class="py-16">
	<div class="sm:px-28">
		<h2 class="pb-10 pl-10 text-center text-2xl font-bold">Tools</h2>

		<div class="grid gap-1 text-gray-500 lg:grid-cols-3 xl:lg:grid-cols-4">
			<div class="flex w-full max-w-[50rem] flex-col justify-between gap-5 p-6">
				<section>
					<img
						src="https://images.pexels.com/photos/17811079/pexels-photo-17811079/free-photo-of-itay-verchik-a-successful-entrepreneur.jpeg?auto=compress&cs=tinysrgb&w=600"
						alt=""
						class="w-full"
					/>
					<h2 class="text-2xl font-bold text-black">My Next Move: O*Net Interest Profiler</h2>
					<p class="pt-5">
						Sponsored by the U.S. Department of Labour, this free job quiz will help you identify
						where your career interests lie and then point you toward career paths that might feed
						those interests.
					</p>
				</section>
				<a
					href="https://www.mynextmove.org/"
					target="_blank"
					class="w-full rounded-full bg-green-500 p-2 text-center text-2xl text-white">Learn More</a
				>
			</div>

			<div class="flex w-full max-w-[45rem] flex-col justify-between gap-5 p-6">
				<section>
					<img
						src="https://images.pexels.com/photos/6169027/pexels-photo-6169027.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
						alt=""
						class="w-full"
					/>
					<h2 class="text-2xl font-bold text-black">123Test.com: career aptitude test</h2>
					<p class="pt-5">
						Rather than answer questions on a sliding scale of agree or disagree, this free career
						test shows four photos (each picture depicts work associated with a specific type of
						personality), and you choose both your favourite and least favourite illustrated
						activity.
					</p>
				</section>
				<a
					href="https://www.123test.com/career-test/"
					target="_blank"
					class="w-full rounded-full bg-green-500 p-2 text-center text-2xl text-white">Learn More</a
				>
			</div>

			<div class="flex w-full max-w-[45rem] flex-col justify-between gap-5 p-6">
				<section>
					<img
						src="https://images.pexels.com/photos/5717265/pexels-photo-5717265.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
						alt=""
						class="w-full"
					/>
					<h2 class="text-2xl font-bold text-black">
						What career is right for me?: career aptitude test
					</h2>
					<p class="pt-5">
						What is unique about this test’s approach is that you’re asked to rank your skill set,
						interests, work style, and values, plus say how much money you’d like to make, what
						education requirements you’re looking to meet, and how much potential growth you’d like
						to see in your career field.
					</p>
				</section>
				<a
					href="https://whatcareerisrightforme.com/career-aptitude-test.php"
					target="_blank"
					class="w-full rounded-full bg-green-500 p-2 text-center text-2xl text-white">Learn More</a
				>
			</div>

			<div class="flex w-full max-w-[45rem] flex-col justify-between gap-5 p-6">
				<section>
					<img
						src="https://images.pexels.com/photos/5989928/pexels-photo-5989928.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
						alt=""
						class="w-full"
					/>
					<h2 class="text-2xl font-bold text-black">
						The Myers-Briggs Organisation: MBTI Instrument
					</h2>
					<p class="pt-5">
						Applicable across all areas of your life, the MBTI (Myers-Briggs type indicator) is
						probably one of the most used assessments by career centres and managers alike. “Many
						companies use the MB test to evaluate counselling, leadership training, and work-team
						development qualities.”
					</p>
				</section>
				<a
					href="https://www.myersbriggs.org/my-mbti-personality-type/take-the-mbti-instrument/home.htm"
					target="_blank"
					class="w-full rounded-full bg-green-500 p-2 text-center text-2xl text-white">Learn More</a
				>
			</div>

			<div class="flex w-full max-w-[45rem] flex-col justify-between gap-5 p-6">
				<section>
					<img
						src="https://images.pexels.com/photos/5990042/pexels-photo-5990042.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
						alt=""
						class="w-full"
					/>
					<h2 class="text-2xl font-bold text-black">Assessment.com: MAPP Career Test</h2>
					<p class="pt-5">
						The Motivational Appraisal of Personal Potential (MAPP) test focusses on your likes and
						dislikes and is designed to be taken quickly so that your answers are based on your
						instincts rather than letting you overthink things. There are various packages to choose
						from for more in-depth information, but the free results offer ample insights about
						career motivations and suggest 10 possible vocational areas for you to check out.
					</p>
					<p class="pt-5">
						Note: While the basic results are free, you will have to pay to see your full report.
					</p>
				</section>
				<a
					href="https://www.myersbriggs.org/my-mbti-personality-type/take-the-mbti-instrument/home.htm"
					target="_blank"
					class="w-full rounded-full bg-green-500 p-2 text-center text-2xl text-white">Learn More</a
				>
			</div>
		</div>
	</div>
</div>
