<div class="py-16">
	<div class="sm:px-28">
		<h2 class="pb-10 pl-10 text-center text-2xl font-bold">Tools</h2>

		<div class="grid gap-1 text-gray-500 lg:grid-cols-3 xl:lg:grid-cols-4">
			<div class="flex w-full max-w-[50rem] flex-col justify-between gap-5 p-6">
				<section>
					<img
						src="https://images.pexels.com/photos/17811079/pexels-photo-17811079/free-photo-of-itay-verchik-a-successful-entrepreneur.jpeg?auto=compress&cs=tinysrgb&w=600"
						alt=""
						class="w-full"
					/>
					<h2 class="text-2xl font-bold text-black">My Next Move: O*Net Interest Profiler</h2>
					<p class="pt-5">
						Sponsored by the U.S. Department of Labour, this free job quiz will help you identify
						where your career interests lie and then point you toward career paths that might feed
						those interests.
					</p>
				</section>
				<a
					href="https://www.mynextmove.org/"
					target="_blank"
					class="w-full rounded-full bg-green-500 p-2 text-center text-2xl text-white">Learn More</a
				>
			</div>


			{{ collection:tools}}

			<div class="flex w-full max-w-[45rem] flex-col justify-between gap-5 p-6">
				<section>
					<img
						src="{{ image}}"
						alt=""
						class="w-full"
					/>
					<h2 class="text-2xl font-bold text-black">{{ title }}</h2>
					<p class="pt-5">
						{{content}}
					</p>
				</section>
				<a
					href="{{ url }}"
					class="w-full rounded-full bg-green-500 p-2 text-center text-2xl text-white">Learn More</a
				>
			</div>


			{{ /collection:tools}}
			
		</div>
	</div>
</div>
