<div class="flex items-start sm:flex-row flex-col justify-center gap-2 sm:gap-5 rounded-md bg-gradient-to-t sm:px-28 px-4">
	<section class="whoweare-t flex w-full sm:w-1/2 items-center justify-center">
		<img
			src="https://images.pexels.com/photos/1464193/pexels-photo-1464193.jpeg"
			alt="CDC LOGO"
			class="w-full"
		/>
	</section>
	<section class="sm:w-1/2 w-full">
		<h2 class="sm:text-2xl txt-lg font-bold">New Campaign - Promoting the career Development Sector</h2>
		<div class="flex flex-col sm:gap-10 pt-10">
			<div>
				<p class="mb-2 text-sm">
					Academy Partnership is designed for educational institutions, training providers, and
					corporate training departments aiming to elevate their educational offerings and
					collaborate on innovative educational projects.
				</p>
			</div>
		</div>
	</section>
</div>
