<div class="max-w-7xl mx-auto sm:my-8">
    <div class="grid grid-cols-1 sm:grid-cols-2  gap-2 sm:gap-4">
        {{ collection:blogs}}
        <div class="p-8">
            <!-- <h1>{{ title }}</h1> -->
            <img src="{{ image }}" alt="" class="overflow-hidden rounded-md">
            <div class="">
                <a class="font-extrabold text-gray-500" href="{{ url }}">{{ title}}</a>
                <!-- <p class="sm:leading-8 text-lg max-h-52">{{ content }} </p> -->
                <span class="text-gray-900">{{ author:name }}</span>
                <span class="text-gray-900">{{ date }}</span>
            </div>
        </div>
        {{ /collection:blogs}}
    </div>
</div>