<div class="max-w-7xl mx-auto sm:my-8">
    <div class="grid grid-cols-1 sm:grid-cols-2  sm:gap-4  gap-3">
        {{ collection:blogs}}
        <div class="bg-gray-50 p-4">
           <div class="h-[400px] w-auto">
            <img src="{{ image }}" alt="" class=" rounded-md object-fill object-center h-[400px] w-full">
           </div>
           <a href="{{ url }}">
            <h1 class="text-lg font-extrabold py-4 sm:text-2xl text-center">{{ title }}</h1>
           </a>
           
            <div class="flex justify-between items-center">
               
               <div class="flex items-center space-x-1">
                        <img class="h-8 w-8 rounded-full" src="{{ author:avatar }}" alt="">
                        <span class="text-gray-900 text-sm sm:text-lg">{{ author:name }}</span>
               </div>
                <span class="text-gray-900 text-sm sm:text-lg">{{ date }}</span>
            </div>
        </div>
        {{ /collection:blogs}}
    </div>
</div>