<div class="max-w-7xl mx-auto">

    <!-- {{ slug }} -->
    <h1 class="text-lg font-extrabold py-4 sm:text-2xl text-center">{{ title }}</h1>

    <div class="p-8">
        <div class="h-[3%] mx-auto w-[60%]">
            <img src="{{ image }}" alt="" class=" rounded-md object-fill object-center">

            <div>

                <p class="sm:leading-8 text-lg">{{ content }} </p>
                <span class="text-gray-900">{{ author }}</span>
                <span class="text-gray-900">{{ date }}</span>
            </div>

        </div>
       
       

    
    </div>
</div>