{{ collection:home_page_overview }}
<!-- Overview Section -->
<div class="flex items-center justify-center">
	<div class="md:flex md:items-start md:gap-5 md:px-28 md:py-20 grid grid-cols-1 p-2 justify-center items-center">
		<section class="md:flex md:h-[20rem] md:w-1/2 md:items-center md:justify-center w-full grid place-content-center">
			<img src="{{ image }}" alt="CDC LOGO" />
		</section>
		<section class="md:w-1/2 w-full grid text-center">
			<h2 class="text-2xl font-bold">{{ header_title }}</h2>
			<div class="flex flex-col gap-10 pt-10">
				<p class="text-center">
					{{ header_description }}
				</p>
				<a
					href="/about-us"
					class="shadow-glass hover:to-bluw-500 sm:relative sm:flex sm:w-fit sm:items-center sm:gap-2  rounded-full bg-gradient-to-r from-green-300 to-green-500 sm:px-5 sm:py-3 sm:text-[16px] text-sm p-2 font-medium capitalize text-white transition duration-300 hover:scale-105 hover:from-green-500 md:px-8 md:py-4"
					>Explore more.
					<span
						class="from-orange -400 absolute right-0 top-0 h-3 w-3 animate-ping rounded-full bg-gradient-to-r to-green-700"
					></span>
				</a>
			</div>
		</section>
	</div>
</div>
{{ /collection:home_page_overview}}