<div class="flex w-full items-center justify-center">
	<div class="flex w-full flex-wrap items-center justify-between px-36 py-20">
		<section class="flex flex-col items-center justify-center">
			<span class="text-lg font-bold">Members</span>
			<h2 class="text-[2.4rem] font-bold text-green-600">1,500</h2>
		</section>
		<section class="flex flex-col items-center justify-center">
			<span class="text-lg font-bold">Jobs</span>
			<h2 class="text-[2.4rem] font-bold text-green-600">500</h2>
		</section>
		<section class="flex flex-col items-center justify-center">
			<span class="text-lg font-bold">Resources</span>
			<h2 class="text-[2.4rem] font-bold text-green-600">800</h2>
		</section>
		<section class="flex flex-col items-center justify-center">
			<span class="text-lg font-bold">Events</span>
			<h2 class="text-[2.4rem] font-bold text-green-600">300</h2>
		</section>
	</div>
</div>

<div class="flex flex-wrap items-center justify-center gap-10 px-28 py-16">
	<section
		class="flex w-[25rem] cursor-pointer flex-col items-center justify-center gap-2 rounded-xl border-2 border-green-500 p-5 shadow-lg hover:shadow-2xl"
	>
		<span>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="7em"
				height="7em"
				class="text-green-500"
				viewBox="0 0 48 48"
				{...$$props}
			>
				<g
					fill="none"
					stroke="currentColor"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="4"
				>
					<path d="M21.417 18.583a6 6 0 1 0 8 8" />
					<path
						d="M28.28 11.72C26.94 11.255 25.5 11 24 11c-7.18 0-13 5.82-13 13s5.82 13 13 13s13-5.82 13-13c0-1.5-.254-2.94-.72-4.28"
					/>
					<path
						d="M33.568 6.433A19.9 19.9 0 0 0 24 4C12.954 4 4 12.954 4 24s8.954 20 20 20s20-8.954 20-20a19.9 19.9 0 0 0-2.432-9.567M44 4L24 24"
					/>
				</g>
			</svg>
		</span>
		<div class="flex flex-col items-center justify-center gap-2 pt-4 text-center">
			<h2 class="text-xl font-bold">Our Mission</h2>
			<p>
				Our mission is to empower individuals to achieve their professional goals by providing
				comprehensive and personalized career development services.
			</p>
		</div>
	</section>

	<section
		class="flex w-[25rem] cursor-pointer flex-col items-center justify-center gap-2 rounded-xl border-2 border-green-500 p-5 shadow-lg hover:shadow-2xl"
	>
		<span>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="7em"
				height="7em"
				class="text-green-500"
				viewBox="0 0 14 14"
				{...$$props}
			>
				<g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
					<path
						d="M7 3.625c-4.187 0-5.945 3.766-5.945 3.844S2.813 11.312 7 11.312s5.945-3.765 5.945-3.843S11.187 3.625 7 3.625M2.169 5.813L.61 4.252m4.525-.354L4.5 1.843m7.331 3.97l1.559-1.56m-4.525-.355L9.5 1.843"
					/>
					<path d="M5.306 7.081a1.738 1.738 0 1 0 3.388.776a1.738 1.738 0 1 0-3.388-.776" />
				</g>
			</svg>
		</span>
		<div class="flex flex-col items-center justify-center gap-2 pt-4 text-center">
			<h2 class="text-xl font-bold">Our vision</h2>
			<p>
				To become a global leader in career development, providing individuals with the tools and
				digital literacy they need to succeed in today’s ever-changing employment market.
			</p>
		</div>
	</section>
</div>



<div class="flex w-full items-center justify-between gap-5 rounded-md px-28 py-10">
	<section class="whoweare-t flex w-1/2 items-center justify-center">
		<img
			src="https://images.pexels.com/photos/5716032/pexels-photo-5716032.jpeg?auto=compress&cs=tinysrgb&w=600"
			alt="CDC LOGO"
		/>
	</section>
	<section class="w-1/2">
		<h2 class="text-2xl font-bold">CDC Professional Body For Career Development</h2>
		<div class="flex flex-col gap-10 pt-10">
			<div>
				<p>
					The Career Development Community (CDC) was formed in 2016 to set standards, advocate for,
					and promote high-quality career development for all. We do this by supporting people from
					all different backgrounds and championing the profession. We offer career guidance,
					provide continuous professional development (CPD) and training, and host online and
					face-to-face bootcamps, conferences, and events.
				</p>
			</div>
			<a
				href="/case-studies"
				class="shadow-glass hover:to-bluw-500 relative flex w-fit items-center gap-2 rounded-full bg-gradient-to-r from-green-300 to-green-500 px-5 py-3 text-[16px] font-medium capitalize text-white transition duration-300 hover:scale-105 hover:from-green-500 md:px-8 md:py-4"
				>Explore our case studies.
				<span
					class="from-orange -400 absolute right-0 top-0 h-3 w-3 animate-ping rounded-full bg-gradient-to-r to-green-700"
				></span>
			</a>
		</div>
	</section>
</div>



<div class="flex items-start justify-center gap-5 rounded-md bg-gradient-to-t from-[#6accaf] py-16">
	<div class="flex items-start justify-between px-28">
		<section class="flex w-1/2 flex-col gap-8">
			<a href="#!" class="text-2xl font-bold hover:underline"> Explore the CDC and what we do </a>
			<p>
				The CDC offers a range of benefits to support members and champions the career development
				profession. Find out about all the work we do as the professional body for career
				development, to ensure professional careers are best placed to support individuals, the economy and
				society.
				
				
			</p>
			<a
				href="#!"
				class="shadow-glass hover:to-bluw-500 relative flex w-fit items-center gap-2 rounded-full bg-gradient-to-r from-green-300 to-green-500 px-5 py-3 text-[16px] font-medium capitalize text-white transition duration-300 hover:scale-105 hover:from-green-500 md:px-8 md:py-4"
				>Explore the role of the CDC.
				<span
					class="from-orange -400 absolute right-0 top-0 h-3 w-3 animate-ping rounded-full bg-gradient-to-r to-green-700"
				></span>
			</a>
		</section>
		<section>
			<img
				src="https://images.pexels.com/photos/3865817/pexels-photo-3865817.jpeg?auto=compress&cs=tinysrgb&w=600"
				alt=""
				class="w-[30rem] rounded-lg"
			/>
		</section>
	</div>
</div>
