<section class="md:mb-12 md:mt-12 px-4">
    <article class="flex flex-col items-center justify-center gap-4 md:px-28 md:pt-10">
        <h2 class="border-b-2 border-green-500 px-3 pb-2 md:text-2xl text-lg font-bold">OUR POPULAR COURSES</h2>
        <section class="mt-5 flex w-full flex-row flex-wrap items-center justify-center gap-8">

        {{ collection:our_courses  taxonomy:tags="is_popular"}}
              {{ partial:courseCard :course="."}}
		{{ /collection:our_courses}}

        </section>
    </article>
</section>
