
<div class="flex items-center justify-center sm:py-10 p-2">
    <div class="max-w-4xl lg:col-start-2 lg:ml-6">
        <div class="flex items-center justify-center">
            <h4
                class="mt-2 w-fit border-b-2 border-green-500 px-3 pb-2 text-center text-2xl font-bold leading-8 sm:text-2xl sm:leading-9"
            >
                Program Delivery
            </h4>
        </div>
        <p class="pt-3 text-center">
            Our program offers a flexible and accessible learning experience, designed to empower you on
            your educational journey. Here are the key features:
        </p>
        
    </div>
</div>
